*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("/assets/coverimg.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
}
.navbar1
{
    background-color: rgb(238, 237, 237);
    display: flex;
    align-items: center;
    padding: 12px;
}
.callicon{
    width: 18px;
    padding-left: 50px;  
}
.navbar1 p{
    padding-left: 16px;
    font-size: 14px; 
    color: rgb(3, 3, 133);
}
.rightpart{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-left: 600px;
}
.rightpart a{
    text-decoration: none;
    color: rgb(19, 34, 247);
}
.rightpart a:hover{
    color: rgb(253, 45, 45);
}
.navbar2{
    background-color: rgba(208, 111, 253, 0.733);
    display:flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 12px 2px;
}
.logo{
    width: 120px;
    padding: 4px; 
    padding-left: 50px;
}
.nav2div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    list-style-type: none;
}
.dropdown span:hover{
    color: white;
}
.nav2div a{
    text-decoration: none;
    color: black;
}
.nav2div a:hover{
    color: white;
}
.rightmost{
    display: flex;
    gap: 30px;
    padding: 20px;
}
.rightmost img:hover{
    scale: 1.2;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.drop-content{
    display: none;
    position: absolute;
    width: 140px;
    box-shadow: 0px 6px 12px 0px;
    z-index: 1;
    background-color:rgba(252, 47, 81, 0.733);
    padding: 16px;
}
.dropdown:hover .drop-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.leftdiv{
    background-color: rgb(128, 129, 129);
    width: 20vw;
    height: 100vh;
    overflow-y: scroll;
    box-shadow: 4px 8px 12px;
}
.middle{
    display: flex;
}
.rightdiv{
    width: 400px;
	height: 200px;
	transform: skew(-10deg);
	background: #064a81;
    margin-top: 300px;
    margin-left: 550px;
    border-radius: 2cap;
    box-shadow: 4px 0px 16px 2px;
}
.welcome{
    padding-top: 10px;
    padding-left: 24px;
    font-size: 2pc;
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.rightdiv p{
    padding-left: 24px;
    padding-right: 12px;
    padding-top: 12px;
    color: rgb(255, 255, 255);
}
.button{
    display: flex;
    align-items: center;
    color: red;
}



